In [7]:
 a = 5

In [8]:
print (a)

5

In [9]:
b=3

In [10]:
print (a+b)

8

In [11]:
type (a)

int

In [12]:
def my_fun():
    print("Hello")
my_fun()

Hello

In [14]:
def add(a,b):
    print(a+b)

In [15]:
add(1,7)

8

In [16]:
def add(a,b):
    c=a+b
    print(c)

In [17]:
add(3,3)

6

In [18]:
a=[1,2,3,4,5,6,7,8,9]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
text="my name is zalzameen"

In [20]:
text.split()

['my', 'name', 'is', 'zalzameen']

In [23]:
tet="my na,me is za,lzame,en"

In [24]:
tet.split(",")

['my na', 'me is za', 'lzame', 'en']

In [25]:
za=text.split()

In [26]:
za[0]

'my'

In [27]:
za[1]

'name'

In [28]:
za[-1]

'zalzameen'

In [29]:
za[2]

'is'

In [30]:
za[3]

'zalzameen'

In [34]:
f=[1,2,3,6,4,5]

for i in f:
    print(i)

1
2
3
6
4
5

In [35]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [46]:
list1=[]
t=int(input("Enter the size of array"))
for i in range(0,t):
    i=input("enter the value:")
    list1.append(i)

Enter the size of array3
enter the value:1
enter the value:2
enter the value:3

In [48]:
list1

['1', '2', '3']